<p>list-product works!</p>
<button (click)="onHanlder()" type="button" class="btn btn-primary">Click</button>
{{isStatus}}


  <!-- <input type="text" [(ngModel)]="productName">
  {{productName}} -->


<div *ngIf="isStatus">
  <nz-table #basicTable [nzPageSize]="3" [nzData]="products">
    <thead>
      <tr>
        <th>STT</th>
        <th>NAME</th>
        <th>Desc</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{i + 1}}</td>
        <td>{{data.name}}</td>
        <td style="width: 300px;">{{data.desc}}</td>
        <td>{{data.category}}</td>
        <td>
          <a routerLink="/admin/product/add/{{data.id}}" nz-button nzType="primary">Edit</a>
          <!-- <a [routerLink]="['add',data.id]">Edit</a> -->
          <nz-divider nzType="vertical"></nz-divider>
          <!-- <button  >Primary</button> -->
          <a (click)="remove(data.id)" nz-button nzType="primary" nzDanger>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>