<!-- register form section starts  -->
<!-- {{user | json}} -->
<section class="register">
        
    <form  (ngSubmit)="onSubmit()" #formAdd="ngForm">
        <h3>register now</h3>
        <input type="text" name="username" placeholder="enter your name" #name="ngModel" required minlength="6" id="" [(ngModel)]="user.username" class="box">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert">
            <div *ngIf="name.errors?.['required']" style="color: red;">Name is required</div>
            <div *ngIf="name.errors?.['minlength']" style="color: red;">Minlength > 6</div>
        </div>

        <input type="email" name="email" placeholder="enter your email" id="" #email="ngModel" required minlength="6" [(ngModel)]="user.email" class="box">
        <div *ngIf="email.invalid && (email.dirty || email.touched)"  class="alert">
            <div *ngIf="email.errors?.['required']" style="color: red;">Email is required</div>
            <div *ngIf="email.errors?.['minlength']" style="color: red;">Minlength > 6</div>
        </div>

        <input type="password" name="password" placeholder="enter your password" #password="ngModel" required minlength="6" [(ngModel)]="user.password" id="" class="box">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"  class="alert">
            <div *ngIf="password.errors?.['required']" style="color: red;">Password is required</div>
            <div *ngIf="password.errors?.['minlength']" style="color: red;">Minlength > 6</div>
        </div>

        <button [disabled]="!formAdd.valid" nz-button nzType="primary" class="w-full py-4 my-2 rounded">Submit</button>
        <p>already have an account?</p>
        <a href="login" class="btn link">login now</a>
    </form>

</section>

<!-- register form section ends  -->

