<app-header></app-header>

<!-- end header -->

<section class="banner w-[90%] m-auto px-[3%] md:w-[60.6%]  md:px-[7.8%] pt-[7%]  grid  md:grid-cols-3  ">
    <div class="content order-2 text-center md:order-1 md:col-span-2 md:text-left ">
        <p class="name text-[28px]   md:text-[33px] font-bold  my-[13px]">Hi, I am Long, Font-End Developer</p>
        <p class="detail text-[13px] my-[20px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <button class="btn rounded-sm mt-[5px] bg-red-500 text-white px-4 py-2 mb-[55px]">Download Resume</button>
    </div>

    <div class="image order-1 md:order-2 w-[150px] md:w-[195px] md:col-span-1 mx-auto md:mr-0">
        <img src="https://picsum.photos/400/400" class="rounded-full  " alt="text-right ">
    </div>
</section>

<!-- end banner -->

<section class="recent-posts w-[90%]  md:w-[60.6%]  m-auto bg-[#EDF7FA] px-[7.8%] pt-[1.3%] pb-[30px]">
    <div class="title flex justify-center md:justify-between mb-3">
        <p class="font-semibold text-[18px] ">Recent Posts</p>
        <a href="" class="text-blue-400 text-[13.5px] hidden md:block">View all</a>
    </div>

    <div class="grid col-span-1 md:grid-cols-2 gap-4">
        <div class="bg-white py-4 px-4 md:flex md:justify-between gap-2">
            <!-- <div class="image">
                        <a href=""><img src="" alt="">image</a>
                </div> -->
            <div class="content ">
                <p class=" text-[18px] md:text-[20px] font-bold">Making a design system from scratch</p>
                <div class="flex justify-between">
                    <p class="my-[0.6rem] md:mt-[1.4rem] md:mb-[0.8rem] text-[14px]">
                        <span>12 Feb 2020</span>
                        <span class="px-2">|</span>
                        <span>Design, Pattern</span>
                    </p>

                </div>
                <p class="text-[13px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

            </div>
        </div>

        <div class="bg-white py-4 px-4 md:flex md:justify-between gap-2">
            <!-- <div class="image">
                        <a href=""><img src="" alt="">image</a>
                </div> -->
            <div class="content ">
                <p class="text-[18px] font-bold">Making a design system from scratch</p>
                <div class="flex justify-between">
                    <p class="my-[0.6rem] md:mt-[1.4rem] md:mb-[0.8rem] text-[14px]">
                        <span>12 Feb 2020</span>
                        <span class="px-2">|</span>
                        <span>Design, Pattern</span>
                    </p>

                </div>
                <p class="text-[13px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- end  recent-posts-->

<section class="featured-works w-[90%]  md:w-[60.6%]  m-auto  px-[7.8%] pt-[1.3%] pb-[2%]">
    <div class="title my-4  md:mb-3 md:mt-1 ">
        <p class="font-semibold text-[18px] text-center md:text-left">Featured works</p>
    </div>

    <div class="">
     
          <nz-table #basicTable  [nzData]="products" [nzPageSize]="3">
           
            <tbody>
                <!-- <tr *ngFor="let data of products; let i = index" > -->
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <div   class="bg-white  md:grid md:grid-cols-[200px,auto] md:gap-3 mt-6 pb-5 border-b  border-b-gray-300">
                        <div class="image  mb-2 md:mb-0">
                            <a href="detailProduct/{{data.id}}"><img src="https://picsum.photos/400/280" class="rounded" alt=""></a>
                        </div>
                        <div class="content ">
                            <a href="detailProduct/{{data.id}}"><p class="text-[20px]  font-bold md:leading-3 ">{{data.name}}</p></a>
                            <div class="flex justify-between">
                                <p class="mt-[1rem] md:mt-[1.6rem] mb-[0.8rem]">
                                    <span class="bg-black text-white rounded-full px-2 mr-4 inline-block">2020</span>
                                    <span>Dashboard</span>
                                </p>
            
                            </div>
                            <p class="text-[13px]">{{data.desc}}
                            </p>
            
                        </div>
                    </div>
                  </tr>
            </tbody>
          </nz-table>

        <!-- <div class="bg-white  md:flex md:justify-between md:gap-3 mt-7 pb-5 border-b  border-b-gray-300">
            <div class="image w-[400px] ">
                <a href=""><img src="https://picsum.photos/400/300" alt=""></a>
            </div>
            <div class="content ">
                <p class="text-[20px]  font-bold md:leading-3 ">Making a design system from scratch</p>
                <div class="flex justify-between">
                    <p class="mt-[1rem] md:mt-[1.6rem] mb-[0.8rem]">
                        <span class="bg-black text-white rounded-full px-2 mr-4 inline-block">2020</span>
                        <span>Dashboard</span>
                    </p>

                </div>
                <p class="text-[13px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

            </div>
        </div>

        <div class="bg-white  md:flex md:justify-between md:gap-3 mt-7 pb-5 border-b  border-b-gray-300">
            <div class="image w-[400px] ">
                <a href=""><img src="https://picsum.photos/400/300" alt=""></a>
            </div>
            <div class="content ">
                <p class="text-[20px]  font-bold md:leading-3 ">Making a design system from scratch</p>
                <div class="flex justify-between">
                    <p class="mt-[1rem] md:mt-[1.6rem] mb-[0.8rem]">
                        <span class="bg-black text-white rounded-full px-2 mr-4 inline-block">2020</span>
                        <span>Dashboard</span>
                    </p>

                </div>
                <p class="text-[13px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

            </div>
        </div> -->
    </div>
</section>

<!-- end featured-works posts -->

<app-footer></app-footer>

<script>
    let menu = document.querySelector('#menu-btn');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');
    };
</script>