<!-- <p>footer works!</p> -->
<footer class="w-[90%]  md:w-[60.6%] m-auto  px-[7.8%] py-16">
    <div class="w-4/12  m-auto text-center flex justify-between ">
        <a href=""><img src="./image/fb.png" alt=""></a>
        <a href=""><img src="./image/insta.png" alt=""></a>
        <a href=""><img src="./image/Linkedin.png" alt=""></a>
        <a href=""><img src="./image/Group.png" alt=""></a>
    </div>
    <p class="text-center text-[13px] mt-4">Copyright ©2020 All rights reserved </p>
</footer>