<!-- <p>header works!</p> -->
<header class="header w-[90%] px-[3%] md:w-[60.6%]  md:px-[7.8%] py-[17px] m-auto flex justify-between  ">
    <div>
        <a href=""><img src="https://picsum.photos/50/50" class="rounded-full" alt="">You are {{username}}</a>
    </div>
    <nav class="navbar">
        <ul class="menu-header md:space-x-5 my-auto">
            <li class=" inline-block justify-between font-bold "><a href="/">Home</a></li>
            <li class=" inline-block justify-between font-bold "><a href="/admin">Admin</a></li>
            <li class="inline-block justify-between font-bold "><a href="blog">Blog</a></li>
            <li class="inline-block justify-between font-bold "><a href="work">Works</a></li>
            <li class="inline-block justify-between font-bold "><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div id="menu-btn" class="menu-btn fas fa-bars   my-auto cursor-pointer"></div>
</header>