<p>add-category works!</p>


<!-- {{category | json}} -->
<!-- <form action="" (ngSubmit)="onSubmit()" #formAdd="ngForm">
    <input type="text" placeholder="Name" name="name" [(ngModel)]="product.name">
    <input type="number" name="price" placeholder="Price" [(ngModel)]="product.price">
    <button>Add</button>
</form> -->

<form nz-form (ngSubmit)="onSubmit()" #formAdd="ngForm">
    <nz-form-item >
      <nz-form-label [nzSpan]="3" nzFor="name">Category Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="name" type="text" id="name" #name="ngModel" required minlength="6" [(ngModel)]="category.name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert">
          <div *ngIf="name.errors?.['required']" style="color: red;">Name is required</div>
          <div *ngIf="name.errors?.['minlength']" style="color: red;">Minlength > 6</div>
      </div>
      </nz-form-control>
    </nz-form-item >


      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="3">
          <button [disabled]="!formAdd.valid" nz-button nzType="primary" >Submit</button>
        </nz-form-control>
      </nz-form-item>
  </form>